.main_listing_container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  .overlay {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    opacity: 0.2;
    background-image: linear-gradient(#004439, white);
    z-index: 1;
  }
  .d_none {
    display: none !important;
  }
  .details_container {
    width: 100%;
    height: 100%;
    column-gap: 50px;
    place-items: top;
    margin-top: 40px;
    z-index: 2;
    .left_panel_container {
      padding: 40px 30px 40px 45px;
      // .blog_cards_num_container {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   margin-top: 20px;
      //   .ant-pagination-item {
      //     border-radius: 50px;
      //     background: rgb(229, 238, 255);
      //     color: #151515;
      //     &:hover {
      //       background: rgb(229, 238, 255) !important;
      //       border: 1px solid rgb(229, 238, 255) !important;
      //     }
      //   }
      //   .ant-pagination-item-active {
      //     border-radius: 50px !important;
      //     opacity: 1;
      //     background: #004439 !important;
      //     outline: none !important;
      //     border: 1px solid #004439 !important;
      //     a {
      //       color: white !important;
      //     }
      //     &:hover {
      //       background: #004439 !important;
      //       border: 1px solid #004439 !important;
      //     }
      //   }
      // }
      .left_panel {
        width: 100%;
        min-width: 53.5vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-bottom: 20px;
        // row-gap: 20px;
      }
    }
  }
  @media screen and (max-width: 1130px) {
    .left_panel {
      grid-template-columns: 1fr 1fr !important;
    }
  }
  @media screen and (max-width: 1023px) {
    .details_container {
      grid-template-columns: 1fr !important;
    }
    .left_panel_container {
      padding: 0px 20px 40px 20px !important;
    }
  }
  @media screen and (max-width: 810px) {
    .overlay {
      display: none;
    }
    .mob_heading {
      padding-left: 15px;
      border-bottom: 1px solid rgba(21, 21, 21, 0.171);
      margin-top: 20px;
      color: #004439;
      font-size: 28px;
      font-weight: 600;
    }
    .d_none {
      display: flex !important;
    }
  }
  @media screen and (max-width: 619px) {
    .left_panel {
      grid-template-columns: 1fr !important;
    }
  }
  @media screen and (max-width: 375px) {
    .mob_heading {
      font-size: 20px;
    }
  }
}
