.paginate_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .ant-pagination-item {
      border-radius: 50px;
      background: rgb(229, 238, 255);
      color: #151515;
      &:hover {
        background: rgb(229, 238, 255) !important;
        border: 1px solid rgb(229, 238, 255) !important;
      }
    }
    .ant-pagination-item-active {
      border-radius: 50px !important;
      opacity: 1;
      background: #004439 !important;
      outline: none !important;
      border: 1px solid #004439 !important;
      a {
        color: white !important;
      }
      &:hover {
        background: #004439 !important;
        border: 1px solid #004439 !important;
      }
    }
  }