.co_working_detail_container {
  * {
    scroll-margin-top: 90px;
  }
  .container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    /* justify-content: center; */
  }
  .content_container {
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1820px;
    align-items: center;
    justify-content: center;
  }
  .stats_panel {
    width: 88vw;
    height: 70px;
    background-color: #151515;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);

    border-radius: 200px;
    margin-top: -35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
    z-index: 1000;
    transition: ease-out 200ms;
  }

  .stat {
    color: var(--primary);
    margin-left: 10px;
  }
  .stat span {
    color: white;
  }
  .btns_container,
  .btns_container_right {
    width: fit-content;
    // height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 17px;
    white-space: nowrap;
  }
  .btns_container_right {
    margin-right: 35px;
  }
  .btns_container {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .white_tag {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 1000px;
    background: #fff;
  }
  .blue_tag {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    color: white !important;
    gap: 10px;
    border-radius: 1000px;
    background: #004439;
    p {
      color: white !important;
    }
  }
  .back_link {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    width: 100%;
    margin-top: 20px !important;
    font-size: 12px;
    gap: 5px;
    white-space: nowrap;
    overflow-x: auto;
    p {
      color: #004439;
    }
    .p_active {
      color: #151515;
    }
  }
  .details_container {
    width: 100%;
    height: 100%;
    column-gap: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 2.7fr 1fr;
    max-width: 1500px;
  }
  .left_panel {
    width: 100%;
    min-width: 53.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    // row-gap: 20px;
    .property_detail_container {
      display: grid;
      grid-template-columns: auto auto auto;
      width: 100%;
      gap: 2px;
      border-radius: 25px;
      margin-top: 40px;
      .tab {
        display: flex;
        padding: 25px 40px;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        gap: 5px;
        h5 {
          color: #151515;
          font-size: 18px;
          font-weight: 500;
        }
        span {
          color: #151515;
          font-size: 14px;
          font-weight: 400;
          opacity: 0.5;
        }
      }
    }
    .room_offered_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      max-height: 380px;
      .room_offered_card {
        max-width: 385px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(21, 21, 21, 0.15);
        background: #fff;
        overflow: hidden;
        height: 100%;
        .img_container {
          height: 150px;
          width: 100%;
          max-width: 385px;
          background-size: cover !important;
          background-repeat: no-repeat;
          background-position: center !important;
        }
        .card_text_content {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          padding: 0px 20px;
          padding-bottom: 30px;
          gap: 15px;
          h5 {
            color: #151515;
            font-size: 14px;
            font-weight: 600;
          }
          h2 {
            color: #004439;
            font-size: 28px;
            font-weight: 500;
            line-height: 21px; /* 75% */
            letter-spacing: -0.56px;
            span {
              color: #004439;
              font-size: 28px;
              font-weight: 600;
              line-height: 21px; /* 75% */
              letter-spacing: -0.56px;
            }
          }
          .card_facilities {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 10px;
            gap: 15px;
            p {
              color: rgba(21, 21, 21, 0.5);
              font-size: 14px;
              font-weight: 400;
              line-height: 21px; /* 150% */
              letter-spacing: -0.28px;
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }
    // .tab {
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   height: 44px;
    //   padding-left: 20px;
    //   padding-right: 5px;
    //   &:nth-child(2n-1) {
    //     background: #f8f9fb !important;
    //   }
    //   h5 {
    //     font-size: 14px;
    //     font-weight: 400;
    //     opacity: 0.5;
    //   }
    //   span {
    //     max-width: 100px;
    //     width: 30%;
    //     height: 34px;
    //     background-color: white;
    //     display: flex;
    //     font-size: 14px;
    //     align-items: center;
    //     padding-left: 10px;
    //     border-radius: 5px;
    //     border: 1px solid rgba(21, 21, 21, 0.15);
    //   }
    // }
    .Nearby_container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 20px);
      gap: 2px;
      .tab {
        display: flex;
        width: 100%;
        align-items: center;
        height: 44px;
        padding-left: 20px;
        &:nth-child(2n-1) {
          background: #f8f9fb !important;
        }
        h5 {
          font-size: 14px;
          font-weight: 400;
          opacity: 0.5;
          height: 100%;
          min-width: 150px;
          display: flex;
          align-items: center;
          flex-basis: 50%;
          border-right: 1px solid white;
        }
        span {
          flex-basis: 50%;
          display: flex;
          border-left: 1px solid white;
          height: 100%;
          font-size: 14px;
          align-items: center;
          padding-left: 20px;
        }
        .Input_tab {
          background-color: white;
          font-size: 14px;
          align-items: center;
          padding-left: 10px;
          border-radius: 10px;
          border: 1px solid rgba(21, 21, 21, 0.15);
        }
      }
    }
  }
  .info_content {
    align-items: end;
    flex-direction: row !important;
    justify-content: space-between;
    .category {
      span {
        color: rgba(21, 21, 21, 0.5);
        font-size: 14px;
        font-weight: 500;
      }
      .cate_btns {
        display: flex;
        gap: 5px;
        button {
          display: flex;
          width: 100px;
          height: 30px;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
          gap: 15px;
          border-radius: 5px;
          color: white;
          border: none;
          cursor: pointer;
          background: #91cbe4;
          &:nth-child(2) {
            background: #db9de5 !important;
          }
        }
      }
    }
    .initial_info_container {
      display: flex;
      margin-top: 12px;
      gap: 22px;
      img {
        border-radius: 15px;
        box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      }
      .info_text {
        h3 {
          font-size: 1.4rem;
          font-family: "p-sb";
          color: black;
          margin-bottom: 10px;
        }
        p {
          font-size: 0.8rem;
          color: rgb(153, 153, 153);
          margin-bottom: 5px;
        }
        p:nth-child(3) {
          font-size: 0.8rem;
          color: var(--primary);
        }
      }
    }
  }
  .right_panel_project_price {
    position: absolute;
    width: 100%;
    max-width: 323px;
    right: 0.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 21px;
    padding-top: 30px;

    .right_panel_price,
    .right_panel_status {
      border-radius: 25px;
      border: 1px solid #dddbdb;
      flex-direction: column;
      display: flex;
      justify-content: center;
      background: linear-gradient(82deg, #004439 100%, #004cd8 0%);
      width: 100%;
      height: 120px;
      color: white;
      p {
        margin-left: 30px;
        font-size: 16px;
        font-weight: 500;
      }
      h5 {
        margin-left: 30px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .right_panel_status {
      border: 1px solid rgba(221, 219, 219, 0.25);
      background: rgba(21, 21, 21, 0.1);
      p {
        color: #004439;
      }
      h5 {
        color: #151515;
      }
    }
  }
  .right_panel {
    min-width: 323px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-top: 30px;
    gap: 21px;
    .top_btn_container {
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      border: 1px solid #dddbdb;
      background: #fbfbfb;
      padding: 27px;
      gap: 11px;
      button {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 15px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 10px;
        background: #004439;
        border: none;
        color: white;
        &:nth-child(2n) {
          background: transparent;
          border: 1px solid #004439;
          color: #004439;
        }
      }
    }
    .inquire,
    .report {
      display: flex;
      padding: 10px 20px;
      width: 100%;
      justify-content: center;
      cursor: pointer;
      color: white;
      align-items: center;
      gap: 15px;
      border: none;
      border-radius: 10px;
      background: linear-gradient(89deg, #151515 0%, #413e3e 100%);
    }
    .report {
      border-radius: 10px;
      margin-bottom: 30px;
      font-weight: 600;
      border: 1px solid #004439;
      background: #fff;
      color: #004439;
    }
  }

  // .table_container {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr !important;
  //   margin-top: 4px;
  //   width: 100%;
  // }
  .sequence {
    color: rgba(21, 21, 21, 0.5);
    font-size: 12px;
    padding-top: 33px;
  }
  h3 {
    color: black;
    font-family: "p-sb";
    font-size: 20px;
    margin-bottom: 20px;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding-top: 33px;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: rgb(209, 209, 209);
    margin-top: 33px;
    margin-bottom: 33px;
  }
  .section_heading {
    color: black;
    font-family: "p-sb";
    font-size: 17px;
    margin-bottom: 10px;
  }

  .report_property {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #004439;
    background: #fff;
    color: #004439;
    font-size: 20px;
    font-weight: 600;
  }
  .mt10 {
    margin-top: 10px;
  }
  .description_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3 {
      margin-bottom: 0px !important;
    }
    .para {
      font-size: 13px;
      color: grey;
      height: 60px;
      overflow: hidden;
    }
    .para_open {
      font-size: 13px;
      color: grey;
      height: 100%;
      overflow: inherit;
    }
  }
  .read_more {
    color: #004439;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    background: none;
    border: none;
    align-self: baseline;
    display: flex;
    margin-left: auto;
    margin-top: 15px;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    gap: 5px;
  }
  .right_none {
    display: none;
  }
  .amenitise_btns {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
    span {
      color: rgba(21, 21, 21, 0.5);
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
    .active_span {
      border-radius: 5px;
      cursor: pointer;
      background: #098843;
      font-size: 14px;
      color: #fff;
      display: flex;
      padding: 5px 10px;
      font-weight: 400;
    }
  }
  .amenitise_container {
    display: flex;
    width: 100%;
    gap: 2px;
    .amenitise_single_table {
      width: 50%;
      .tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        padding-left: 20px;
        padding-right: 5px;
        &:nth-child(2n-1) {
          background: #f8f9fb !important;
        }
        h5 {
          font-size: 14px;
          font-weight: 400;
          opacity: 0.5;
        }
        span {
          max-width: 100px;
          width: 30%;
          height: 34px;
          background-color: white;
          display: flex;
          font-size: 14px;
          align-items: center;
          padding-left: 10px;
          border-radius: 5px;
          border: 1px solid rgba(21, 21, 21, 0.15);
        }
      }
    }
  }
  @media screen and (max-width: 1150px) {
    .detail_container {
      grid-template-columns: auto auto !important;
    }
  }
  @media screen and (max-width: 1023px) {
    .property_detail_container {
      grid-template-columns: auto auto auto !important;
    }
    .details_container {
      grid-template-columns: auto !important;
    }

    .right_panel {
      width: 100%;
      position: static !important;
      margin-top: 0px !important;
      min-width: unset;
    }
    .right_panel_project_price {
      position: static;
      max-width: unset;
    }
    .right_none {
      display: unset !important;
    }
    .details_container {
      grid-template-columns: 1fr;
    }
    .btns_container {
      display: none;
    }
    .btns_container_right {
      margin-right: 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .stats_panel {
      justify-content: center;
    }
  }
  @media screen and (max-width: 800px) {
    .room_offered_container {
      flex-direction: column;
      max-height: 100% !important;
      .room_offered_card {
        max-width: 100% !important;
        .img_container {
          max-width: 100% !important;
          height: 300px !important;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .amenitise_container {
      flex-direction: column;
      .amenitise_single_table {
        width: 100% !important;

        &:nth-child(2) {
          .tab {
            background: #f8f9fb !important;
            &:nth-child(2n + 1) {
              background: #ffffff !important;
            }
          }
        }
      }
    }
    .property_detail_container {
      grid-template-columns: auto !important;
    }
    .info_content {
      flex-direction: column !important;
      align-items: flex-start;
      gap: 20px;
    }
  }

  @media screen and (max-width: 425px) {
    .card_facilities {
      grid-template-columns: auto !important;
    }
  }
  @media screen and (max-width: 375px) {
    .btns_container_right {
      column-gap: 0px;
    }
    .initial_info_container {
      flex-direction: column;
      gap: 10px;
    }
  }
}
